@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
*{
	box-sizing: border-box;
}
html {
	font-size: 10px;
	height: 100%;
}
body {
	font-family: 'Lato',sans-serif;
	font-size: 1.6rem;
	color: #262626;
	min-height: 100%;
	background-color: #fff;
}
	
h2 {
	// color: #fff;
}
p {
	color: #a7a7a7;
}